- Media:
    - Jellyfin:
        icon: jellyfin.png
        href: 'javascript:window.open(''http://'' + window.location.hostname + '':8096'', ''_blank'', ''noopener,noreferrer'')'
        description: Media server
    - Radarr:
        icon: radarr.png
        href: 'javascript:window.open(''http://'' + window.location.hostname + '':7878'', ''_blank'', ''noopener,noreferrer'')'
        description: Movies
    - Sonarr:
        icon: sonarr.png
        href: 'javascript:window.open(''http://'' + window.location.hostname + '':8989'', ''_blank'', ''noopener,noreferrer'')'
        description: TV Shows
    - Bazarr:
        icon: bazarr.png
        href: 'javascript:window.open(''http://'' + window.location.hostname + '':6767'', ''_blank'', ''noopener,noreferrer'')'
        description: Subtitles

- Downloads:
    - qBittorrent:
        icon: qbittorrent.png
        href: 'javascript:window.open(''http://'' + window.location.hostname + '':8080'', ''_blank'', ''noopener,noreferrer'')'
        description: Torrent client
    - Prowlarr:
        icon: prowlarr.png
        href: 'javascript:window.open(''http://'' + window.location.hostname + '':9696'', ''_blank'', ''noopener,noreferrer'')'
        description: Indexer manager

- Management:
    - Homepage:
        icon: homepage.png
        href: /home/
        description: Main landing page
    - Portainer:
        icon: portainer.png
        href: 'javascript:window.open(''https://'' + window.location.hostname + '':9443'', ''_blank'', ''noopener,noreferrer'')'
        description: Docker management
    - Grafana:
        icon: grafana.png
        href: 'javascript:window.open(''http://'' + window.location.hostname + '':3001'', ''_blank'', ''noopener,noreferrer'')'
        description: Monitoring
